version: 1.0.{build}
branches:
  only:
  - master
skip_tags: true
build_script:
- ps: |
    $pre = $true
    if (($env:APPVEYOR_PULL_REQUEST_NUMBER -eq $null) -and ($env:APPVEYOR_REPO_BRANCH -eq "master"))
    {
        $pre = $false
    }

    .\build\build.ps1 $env:APPVEYOR_BUILD_VERSION $env:APPVEYOR_PULL_REQUEST_HEAD_COMMIT -pre:$pre
test: off
artifacts:
- path: artifacts/*.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: cKHl2GU+KJ2ieoiNDAjw7eaCxYlPkrByEA1wOMgM/AHmS/kfLgUOXnnzeOuTfczV
  skip_symbols: true